*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

aside {
  background-color: #2c3e50;
  color: white;
  width: 200px;
  min-height: 100vh;
  padding: 20px;
  border-right: 1px solid #ddd;
}

aside h3 {
  margin: 20px 0;
  font-size: 2em;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  border-top: 1px solid #567493ff;
  border-bottom: 1px solid #567493ff;
  padding: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li:hover {
  background-color: #34495e;
  border: none;
  cursor: pointer;
}

header {
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 16px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  color: #333;
  margin: 10px 0;
}

.content-container {
  padding: 30px;
  flex-grow: 1;
  background-color: #567493ff;
  border-radius: 10px;
}

.card-container {
  gap: 20px;
  margin-bottom: 20px;
}

.card-container h4 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #fff;
}

.card-container p {
  font-size: 1em;
  color: #fff;
}

.content-card-container {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.role-container {
  margin: 20px 0;
}

.role-container label {
  margin-right: 10px;
  font-weight: bold;
  font-size: 1em;
  color: #fff;
}

.role-container select {
  padding: 5px;
  font-size: 0.8em;
}

.filters-container {
  margin: 20px 0;
}

.filters-container label {
  margin-right: 10px;
  font-weight: bold;
  font-size: 1em;
  color: #fff;
}

.chart-container {
  background-color: #f0f0f0;
  padding: 30px 10px;
  border-radius: 10px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 400px;
}